ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 24rem;
  padding: 0;
}

li {
  background-color: lightblue;
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;
}

button {
  background-color: white;
  border: gray 1px solid;
}

.delete-form {
  margin-left: auto;
}
