name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - auto_merge_enabled

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - run: pnpm install
      - run: pnpm exec playwright install --with-deps
      - run: pnpm run build
      - run: pnpm run test
