name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - auto_merge_enabled

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install
      - run: bun run build
      - run: bun run test
